In [1]:
import cassandra

In [3]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [5]:
try:
    session.execute(
        """
        CREATE KEYSPACE IF NOT EXISTS song_library
        WITH REPLICATION = 
        { 'class' : 'SimpleStrategy', 'replication_factor' : 1}
        """
    )
except Exception as e:
    print(e)

In [6]:
try:
    session.set_keyspace('song_library')
except Exception as e:
    print(e)

In [11]:
query = "CREATE TABLE IF NOT EXISTS song_library "
query = query + " (song_title text, artist_name text, year int, album_name text, single boolean, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [14]:
query = "INSERT INTO song_library (year, song_title, artist_name, album_name, single)"
query = query + " VALUES (%s, %s, %s, %s, %s)"
try:
    session.execute(query, (1970, "Let It Be", "The Beatles", "Across The Universe", False))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "Think For Yourself", "The Beatles", "Rubber Soul", False))
except Exception as e:
    print(e)

In [15]:
query = 'SELECT * FROM song_library'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1965 Rubber Soul The Beatles
1970 Across The Universe The Beatles

In [17]:
query = "select * from song_library WHERE YEAR=1970 AND artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1970 Across The Universe The Beatles

In [18]:
session.shutdown()
cluster.shutdown()