In [1]:
%load_ext sql

In [5]:
# !sudo -u postgres psql -c 'CREATE DATABASE reviews;'

# !wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
# !wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

# !gzip -d customer_reviews_1998.csv.gz 
# !gzip -d customer_reviews_1999.csv.gz 

# !mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
# !mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

--2021-09-27 23:04:55--  http://examples.citusdata.com/customer_reviews_1998.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 2606:4700:20::681a:e38, 2606:4700:20::ac43:4902, 2606:4700:20::681a:f38, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|2606:4700:20::681a:e38|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://examples.citusdata.com/customer_reviews_1998.csv.gz [following]
--2021-09-27 23:04:55--  https://examples.citusdata.com/customer_reviews_1998.csv.gz
Connecting to examples.citusdata.com (examples.citusdata.com)|2606:4700:20::681a:e38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24774482 (24M) [application/x-gzip]
Saving to: ‘customer_reviews_1998.csv.gz’

customer_reviews_19 100%[===================>]  23,63M  8,15MB/s    in 2,9s

2021-09-27 23:04:58 (8,15 MB/s) - ‘customer_reviews_1998.csv.gz’ saved [24774482/24774482]

URL transformed to HTTPS due to an HSTS policy
--2021-09-27 23:04:58--  https://examples.citusdata.com/customer_reviews_1999.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 2606:4700:20::681a:e38, 2606:4700:20::ac43:4902, 2606:4700:20::681a:f38, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|2606:4700:20::681a:e38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48996256 (47M) [application/x-gzip]
Saving to: ‘customer_reviews_1999.csv.gz’

customer_reviews_19 100%[===================>]  46,73M  8,63MB/s    in 5,9s

2021-09-27 23:05:05 (7,98 MB/s) - ‘customer_reviews_1999.csv.gz’ saved [48996256/48996256]

In [6]:
DB_ENDPOINT = "127.0.0.1"
DB = 'reviews'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://student:student@127.0.0.1:5432/reviews

In [7]:
%sql $conn_string

In [8]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE customer_reviews_row
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

In [9]:
%%sql 
COPY customer_reviews_row FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_row FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

In [18]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://student:***@127.0.0.1:5432/reviews
(psycopg2.errors.UndefinedFile) could not open extension control file "/Library/PostgreSQL/13/share/postgresql/extension/cstore_fdw.control": No such file or directory

[SQL: -- load extension first time after install
CREATE EXTENSION cstore_fdw;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [11]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

CREATE FOREIGN TABLE customer_reviews_col
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)
SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
(psycopg2.errors.UndefinedObject) server "cstore_server" does not exist

[SQL: CREATE FOREIGN TABLE customer_reviews_col
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)
SERVER cstore_server
OPTIONS(compression 'pglz');]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [12]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
(psycopg2.errors.UndefinedTable) relation "customer_reviews_col" does not exist

[SQL: COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [13]:
%%time
%%sql
SELECT
    customer_id, review_date, review_rating, product_id, product_title
FROM
    customer_reviews_row
WHERE
    customer_id ='A27T7HVDXA3K2A' AND
    product_title LIKE '%Dune%' AND
    review_date >= '1998-01-01' AND
    review_date <= '1998-12-31';

 * postgresql://student:***@127.0.0.1:5432/reviews
5 rows affected.
CPU times: user 3.81 ms, sys: 2.17 ms, total: 5.98 ms
Wall time: 190 ms

[('A27T7HVDXA3K2A', datetime.date(1998, 4, 10), 5, '044100590X', 'Dune'),
 ('A27T7HVDXA3K2A', datetime.date(1998, 4, 10), 5, '0441172717', 'Dune (Dune Chronicles, Book 1)'),
 ('A27T7HVDXA3K2A', datetime.date(1998, 4, 10), 5, '0881036366', 'Dune (Dune Chronicles (Econo-Clad Hardcover))'),
 ('A27T7HVDXA3K2A', datetime.date(1998, 4, 10), 5, '0399128964', 'Dune (Dune Chronicles (Econo-Clad Hardcover))'),
 ('A27T7HVDXA3K2A', datetime.date(1998, 4, 10), 5, '1559949570', 'Dune Audio Collection')]

In [14]:
%sql select * from customer_reviews_row limit 10

 * postgresql://student:***@127.0.0.1:5432/reviews
10 rows affected.

[('AE22YDHSBFYIP', datetime.date(1970, 12, 30), 5, 10, 0, '1551803542', 'Start and Run a Coffee Bar (Start & Run a)', 11611, 'Book', 'Business & Investing', 'General', ['0471136174', '0910627312', '047112138X', '0786883561', '0201570483']),
 ('AE22YDHSBFYIP', datetime.date(1970, 12, 30), 5, 9, 0, '1551802538', 'Start and Run a Profitable Coffee Bar', 689262, 'Book', 'Business & Investing', 'General', ['0471136174', '0910627312', '047112138X', '0786883561', '0201570483']),
 ('ATVPDKIKX0DER', datetime.date(1995, 6, 19), 4, 19, 18, '0898624932', 'The Power of Maps', 407473, 'Book', 'Nonfiction', 'Politics', ['0226534219', '0226534170', '1931057001', '0801870909', '157230958X']),
 ('AH7OKBE1Z35YA', datetime.date(1995, 6, 23), 5, 4, 4, '0521469112', 'Invention and Evolution', 755661, 'Book', 'Science', 'General', ['1591391857']),
 ('ATVPDKIKX0DER', datetime.date(1995, 7, 14), 5, 0, 0, '0679722955', 'The Names (Vintage Contemporaries (Paperback))', 264928, 'Book', 'Literature & Fiction', 'General', ['0140152741', '0679722947', '0140156046', '0679722939', '0679722920']),
 ('A102UKC71I5DU8', datetime.date(1995, 7, 18), 4, 2, 2, '0471114251', 'Bitter Winds ', 154570, 'Book', 'Biographies & Memoirs', 'General', ['0812963741', '081331769X', '014010870X', '0879611316', '0060007761']),
 ('A1HPIDTM9SRBLP', datetime.date(1995, 7, 18), 5, 0, 0, '0517887290', 'Fingerprints of the Gods ', 13481, 'Book', 'Science', 'Astronomy', ['0517888521', '0609804774', '0671865412', '1400049512', '0517884542']),
 ('A1HPIDTM9SRBLP', datetime.date(1995, 7, 18), 5, 0, 0, '1574531093', 'Fingerprints of the Gods (Alternative History)', 410246, 'Book', 'Books on Tape', 'Nonfiction', ['0517888521', '0609804774', '0671865412', '1400049512', '0517884542']),
 ('ATVPDKIKX0DER', datetime.date(1995, 7, 18), 5, 1, 0, '0962344788', 'Heavy Light', 663630, 'Book', 'Arts & Photography', 'Art', []),
 ('ATVPDKIKX0DER', datetime.date(1995, 7, 18), 5, 1, 1, '0195069056', "Albion's Seed", 4697, 'Book', 'Nonfiction', 'Social Sciences', ['0813917743', '0195098315', '0767916883', '0195170342', '0195162536'])]

In [15]:
%%time
%%sql
SELECT
    customer_id, review_date, review_rating, product_id, product_title
FROM
    customer_reviews_col
WHERE
    customer_id ='A27T7HVDXA3K2A' AND
    product_title LIKE '%Dune%' AND
    review_date >= '1998-01-01' AND
    review_date <= '1998-12-31';

 * postgresql://student:***@127.0.0.1:5432/reviews
(psycopg2.errors.UndefinedTable) relation "customer_reviews_col" does not exist
LINE 3:     customer_reviews_col
            ^

[SQL: SELECT customer_id, review_date, review_rating, product_id, product_title
FROM
    customer_reviews_col
WHERE
    customer_id ='A27T7HVDXA3K2A' AND
    product_title LIKE '%%Dune%%' AND
    review_date >= '1998-01-01' AND
    review_date <= '1998-12-31';]
(Background on this error at: https://sqlalche.me/e/14/f405)
CPU times: user 3.92 ms, sys: 2.48 ms, total: 6.4 ms
Wall time: 5.59 ms

In [16]:
%%time
%%sql
SELECT product_title, avg(review_rating)
FROM customer_reviews_col
WHERE review_date >= '1995-01-01' 
    AND review_date <= '1998-12-31'
GROUP BY product_title
ORDER by product_title
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/reviews
(psycopg2.errors.UndefinedTable) relation "customer_reviews_col" does not exist
LINE 1: SELECT product_title, avg(review_rating) FROM customer_revie...
                                                      ^

[SQL: SELECT product_title, avg(review_rating) FROM customer_reviews_col
WHERE review_date >= '1995-01-01'
    AND review_date <= '1998-12-31'
GROUP BY product_title
ORDER by product_title
LIMIT 20;]
(Background on this error at: https://sqlalche.me/e/14/f405)
CPU times: user 2.79 ms, sys: 1.53 ms, total: 4.32 ms
Wall time: 3.38 ms

In [17]:
%%time
%%sql
SELECT product_title, avg(review_rating)
FROM customer_reviews_row
WHERE review_date >= '1995-01-01' 
    AND review_date <= '1998-12-31'
GROUP BY product_title
ORDER by product_title
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 4.29 ms, sys: 8.66 ms, total: 12.9 ms
Wall time: 360 ms

[('!Yo!', Decimal('4.7500000000000000')),
 ("# 1's", Decimal('4.2682926829268293')),
 ('#1 Record/Radio City', Decimal('5.0000000000000000')),
 ("#1 Soul Hits Of The 60's, Vol. 3", Decimal('5.0000000000000000')),
 ("#1's", Decimal('4.2409638554216867')),
 ("'58 Miles Featuring Stella by Starlight", Decimal('5.0000000000000000')),
 ("'Bout It", Decimal('3.0000000000000000')),
 ("'Round Midnight", Decimal('5.0000000000000000')),
 ("'Salem's Lot", Decimal('4.6333333333333333')),
 ("'The Moon by Whale Light", Decimal('4.2500000000000000')),
 ("'The Radical Reformation (3rd ed)", Decimal('5.0000000000000000')),
 ("'The Verilog Hardware Description Language (with CD-Rom)", Decimal('3.6666666666666667')),
 ("'Til It Kills", Decimal('5.0000000000000000')),
 ("'Til Shiloh", Decimal('5.0000000000000000')),
 ("'Til Their Eyes Shine (The Lullaby Album)", Decimal('5.0000000000000000')),
 ("'night, Mother ", Decimal('5.0000000000000000')),
 ("(I'm) Stranded", Decimal('5.0000000000000000')),
 ('(Sick) ', Decimal('4.0000000000000000')),
 ("(What's The Story) Morning Glory?", Decimal('4.1538461538461538')),
 ("(Who's Afraid Of?) The Art of Noise!", Decimal('3.3333333333333333'))]